.navbar {
  background-color: #161616;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  height: 8vh;
}

.question-mark {
  font-size: 40px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.question-mark:hover {
  transform: rotate(-30deg) scale(3);
}
.logo {
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.logo:hover {
  transform: scale(1.15);
}


@media only screen and (max-width: 600px) {
  .navbar{
    padding: 15px 10px;
  }
}